@model IEnumerable<ConvertLength>

@{
    ViewData["Title"] = "Index";
}

<h1>Convert Length</h1>

<h3>Convert the <span style="color: green">Selected Length</span></h3>

<div>
    <input id="input1" class="_border-green" value="0">
    <select id="inputName1" class="_border-green">
        @foreach (var item in Model.Select(m => m.LengthName).Distinct())
        {
            <option>@Html.DisplayFor(modelItem => item)</option>
        }
    </select>
</div>
<br>
<div>
    <input id="input2" class="_border-black" disabled>
    <select id="inputName2" class="_border-black">
        @foreach (var item in Model.Select(m => m.LengthName).Distinct())
        {
            <option>@Html.DisplayFor(modelItem => item)</option>
        }
    </select>
</div>

<div class="_display-block-ruby">
    <p>Formula: </p>
    <p id="formula"></p>
</div>
<div class="_display-block-ruby">
    <p>Result: </p>
    <p id="conversion"></p>
    <p id="result"></p>
</div>

<button id="clearButton" class="btn btn-danger">Clear Input</button>

<div class="_invisible">
    @foreach (var item in Model)
    {
        <input id="@Html.DisplayFor(modelItem => item.LengthConversion)" value="@Html.DisplayFor(modelItem => item.LengthFormula)" disabled>
        <label>@Html.DisplayFor(modelItem => item.LengthConversion)</label>
        <br>
    }
</div>
