@model IEnumerable<QuarterProject.Models.RegisteredUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-1 border-right">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><br>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a><br>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <!-- Preserves whitespace and newlines when displaying. -->
                    <pre>@Html.DisplayFor(modelItem => item.UserText)</pre>
                </td>
            </tr>
        }
    </tbody>
</table>
