@model IEnumerable<QuarterProject.Models.RegisteredUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<button id="accordionOpenAll" class="btn btn-primary">Open All Accordions</button>
<button id="accordionCloseAll" class="btn btn-danger">Close All Accordions</button>

<table class="table">
    <thead>
    </thead>
    <tbody class="_border">
        @{
            int i = 0;
            foreach (RegisteredUser item in Model)
            {
                <div id="accordion@(i)">
                    <div class="card">
                        <div class="_card-header" id="heading@(i)">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                                <button class="btn btn-link">
                                    @Html.DisplayFor(modelItem => item.UserTextTitle)
                                </button>
                            </h5>
                        </div>

                        <div id="collapse@(i)" class="collapse" aria-labelledby="heading@(i)" data-parent="#accordion@(i)">
                            <div class="_card-body">
                                <div class="_border-bottom">
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                                <pre>@Html.DisplayFor(modelItem => item.UserText)</pre>
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </tbody>
</table>
